#player,
#message {
  text-align: left;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#message {
  left: 0;
  background: white;
  color: #000;
}
#player {
  right: 0;
  background: yellow;
  color: #000;
}
input[data-color-picker] {
  border: 1px solid #000;
  width: 50px !important;
  box-sizing: border-box !important;
  color: transparent !important;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}
#player-names {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

body:not(.game-ready) .gameBoard {
  display: none;
}
#ui {
  display: none;
  justify-content: center;
  gap: 1rem;
}
button#create-players:not(.ready) {
  display: none;
}
button#play,
button#create-players {
  background: transparent;
  font-weight: bold;
  padding: 0;
  text-shadow: 0px 0px 2px #fff;
  display: grid;
  align-items: center;
  width: 100%;
  height: 60px;
  grid-template-columns: auto 1fr auto;
}
button#play span,
button#create-players span {
  background: url('../images/btn-center.png') center center / 100% 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
button#play:before,
button#create-players:before {
  background: url('../images/btn-start.png') center center / 100% 100%;
}
button#play:after,
button#create-players:after {
  background: url('../images/btn-end.png') center center / 100% 100%;
}
button#play:before,
button#play:after,
button#create-players:before,
button#create-players:after {
  content: '';
  aspect-ratio: 130 / 169;
  position: relative;
  height: 60px;
  display: inline-block;
}
.game-ready #ui {
  display: flex;
  align-items: center;
}
body:not(.game-ready) #gameBoardOuter {
  display: none;
}
#gameBoardOuter {
  width: unset !important;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.gameBoard {
  height: auto;
  overflow: hidden;
}
.gameBoard > .gameBoardInner {
  margin: 0;
  height: auto;
  padding: 0;
  --frame-size: 50px;
  display: grid;
  place-content: center;
  border-radius: 5px;
  background: url('../images/frame-x.png') top center / 100% var(--frame-size)
      repeat-x,
    url('../images/frame-x.png') bottom center / 100% var(--frame-size) repeat-x,
    url('../images/frame-y.png') left / var(--frame-size) 100% repeat-y,
    url('../images/frame-y.png') right / var(--frame-size) 100% repeat-y;
  /* border: var(--frame-size) solid transparent; */
  padding: var(--frame-size);
}

#player {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.5rem;
}
#message {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.5rem;
}
#players-wrapper {
  width: 100%;
}
#play {
  width: 100%;
}
#player {
  grid-area: player;
}
#message {
  grid-area: message;
}
#players-wrapper {
  grid-area: allplayers;
}
#play {
  grid-area: rollbtn;
}
#logo {
  grid-area: logo;
}
.gameBoard > .gameInterface {
  margin-top: auto;
  margin-bottom: auto;
  background: #d5b087;
  height: max-content;
  overflow: hidden;
  padding: 0;
  width: max-content;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  grid-template-columns: 1fr;
  min-width: min(400px, 90vw);
  grid-template-areas:
    'logo'
    'player'
    'message'
    'allplayers'
    'rollbtn';
}
.gameBoard > .gameInterface > .players {
  padding: 5px;
  background-color: beige;
  border-radius: 5px;
}
.gameBoard > .gameInterface > .players > div {
  margin: 2px 10px 0 5px;
  height: 25px;
  float: left;
}
.gameBoard > .gameInterface > .players > div::before {
  content: '';
  display: block;
  background: var(--player-color);
  float: left;
  width: 24px;
  height: 24px;
  box-shadow: inset -2px -2px #565656;
  margin-right: 5px;
  border-radius: 12px;
}
.dice {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  --dice-eye-size: 40px;
  display: none;
}
.dice.show {
  display: block;
}
.dice > div {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 8px;
  background-color: #e7e7e7;
  object-fit: contain;
  box-shadow: inset 0 2px white, inset 0 -2px #bbb, inset 2px 0 #d7d7d7,
    inset -2px 0 #d7d7d7, rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10%;
  float: left;
  overflow: hidden;
  display: none;
}
.dice > div:nth-of-type(1) {
  display: none;
  justify-content: center;
  align-items: center;
}
.dice > div:nth-of-type(2) {
  display: none;
  justify-content: space-between;
}
.dice > div:nth-of-type(2) > span:nth-of-type(2) {
  align-self: flex-end;
}
.dice > div:nth-of-type(2),
.dice > div:nth-of-type(3) {
  display: none;
  justify-content: space-between;
}
.dice > div:nth-of-type(3) > span:nth-of-type(2) {
  align-self: center;
}
.dice > div:nth-of-type(3) > span:nth-of-type(3) {
  align-self: flex-end;
}
.dice > div:nth-of-type(4),
.dice > div:nth-of-type(6) {
  display: none;
  justify-content: space-between;
}
.dice > div:nth-of-type(4) > div,
.dice > div:nth-of-type(6) > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dice > div:nth-of-type(5) {
  display: none;
  justify-content: space-between;
}
.dice > div:nth-of-type(5) > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dice > div:nth-of-type(5) > div:nth-of-type(2) {
  justify-content: center;
}
.dice > div > span,
.dice > div > div > span {
  display: block;
  width: var(--dice-eye-size);
  height: var(--dice-eye-size);
  border-radius: 50%;
  margin: 0;
  background-color: #333;
  box-shadow: inset 0 1px #111, inset 0 -1px #555;
}
.dice.show1 > div:nth-of-type(1) {
  display: flex;
}
.dice.show2 > div:nth-of-type(2) {
  display: flex;
}
.dice.show3 > div:nth-of-type(3) {
  display: flex;
}
.dice.show4 > div:nth-of-type(4) {
  display: flex;
}
.dice.show5 > div:nth-of-type(5) {
  display: flex;
}
.dice.show6 > div:nth-of-type(6) {
  display: flex;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
button:not(.disabled):hover {
  filter: brightness(120%);
  transform: scale(0.99);
}
button:not(.disabled):active {
  transform: scale(0.98);
}
button.disabled {
  opacity: 0.5;
  cursor: default;
}

.dialog {
  border-radius: 10px;
  background-color: var(--board-frame);
  box-shadow: -4px -4px #bababa;
  width: 220px;
  height: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.dialog.show {
  display: block;
}
.dialog > h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.dialog > button {
  margin: auto;
  display: block;
  width: 100px;
  float: none;
  background: #cccccc;
}

@media only screen and (max-height: 500px) {
  .gameBoard > .gameInterface > .player {
    margin: 0 20px 3px 20px;
    width: 200px;
  }
  .gameBoard > .gameInterface > button {
    margin: 0 10px;
  }
  .gameBoard > .gameInterface > .players {
    height: 15px;
    padding-top: 1px;
  }
  .gameBoard > .gameInterface > .players > div {
    margin: 2px 2px 2px 0;
  }
  .gameBoard > .gameInterface > .players > div::before {
    height: 14px;
    width: 14px;
  }
}
@media only screen and (max-width: 550px) {
  .gameBoard > .gameInterface > .player {
    line-height: 15px;
    margin: 0 20px 3px 20px;
    width: calc(100% - 100px);
  }
  .gameBoard > .gameInterface > button {
    margin: 0 10px;
  }
  .gameBoard > .gameInterface > .players {
    height: 15px;
    padding-top: 1px;
  }
  .gameBoard > .gameInterface > .players > div {
    margin: 2px 2px 2px 0;
  }
  .gameBoard > .gameInterface > .players > div::before {
    height: 14px;
    width: 14px;
  }
}
