.modal__confirm {
  background: radial-gradient(circle, #278c48, #4fd87c);
  font-weight: bold;
  width: 100%;
}
.modal__cancel {
  background: radial-gradient(circle, #b63638, #ff6c6e);
  font-weight: bold;
  width: 100%;
}
.modal {
  position: fixed;
  margin: auto;
  inset: 0;
  display: grid;
  place-content: center;
  gap: 0.5rem;
  margin: auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.modal-box {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: min(350px, 90vh);
}
.modal::before {
  content: '';
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.modal__header {
  margin-top: -1rem;
  padding: 1rem;
  background-color: yellow;
  margin-left: -1rem;
  margin-right: -1rem;
}

.modal__ui {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.modal__answer {
  background-color: #ccc;
}
